body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 450px;
}

/* NAVBAR */

nav {
  position: fixed;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #343a40;
  width: 100%;
}
.navbar-brand {
  width: 100px;
}
.navBar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: rgba(255, 255, 255, 0.55);
  margin: 10px;
}

/* /NAVBAR */

/* HEADER */
.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/img/header-bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.masthead div {
  margin-bottom: 25px;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 25px;
}
.masthead a {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: #d9aa00;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* /HEADER */
/* /MAIN */
main {
  background-color: #f8f9fa;
  padding: 6rem 0;
}
/* /Projects */
h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
h3{
  color: #6c757d;
  font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    text-align: center
}
.projectsItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.projectItem{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width: 400px;
  margin: 10px;
}
.projectItem img{
  width: 100%;
}
.projectCaption{
  font-size: 1.5rem;
  font-weight: 600;
  
  margin-bottom: 10px;
  margin-top: 20px;
}
.projectItem p{
  text-align: center;
}
/* /Projects */
/* /About */
.about{
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  padding-top: 50px;
}
/* /About */
.timeline{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
}
.rounded-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 7px solid #e9ecef;
  margin: 15px;
}
.textLeft{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  text-align: right;
}
.textRight{
  display: flex;
  align-items: center;
  text-align: left;
}
h4{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;

}
.text-muted{
  color: #6c757d 
}
footer{
  text-align: center;
}
/* /MAIN */
/* FOOTER */
/* /FOOTER */
